:root {
  box-sizing: border-box;
  --main-font: Helvetica, Arial, sans-serif;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
      background-color: #eee;
      font-family: Helvetica, Arial, sans-serif;
}

body * + * { /*применяем отступ ко всем после тэга body lobotomized owl top margin*/
  margin-top: 1.5em;
}

.container {
  max-width: 1080px; /*центрирование doble-container: body is outer container 100% width, .container is inner*/
  margin: 0 auto; /*left & right - по всему пространству*/
}

header {
  padding: 1em 1.5em;
  color: #fff;
  background-color: #0072b0;
  border-radius: .5em;
  margin-bottom: 1.5em;
}

.main {
  padding: 0 1.5em;
  background-color: #fff;
  border-radius: .5em;
}
